<html>
    <head>
        <title>Brandeis Alumni Association</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="icon" type="images/x-icon" href="/images/favicon-16x16.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="author" content="James Kong">
        <meta name="keywords" content="Brandeis, Alumni, Association">
        <meta name="description" content="Brandeis Alumni and friends official website."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="menuBack">
            <image class="menu-icon" src="/images/hamburger-menu-icon.png"></image>
        </div>
        <nav id="#default-menu">
            <a class="nav_items" href="/index">Home</a>
            <a class="nav_items" href="/about">About</a>
            <a class="nav_items" href="/jobs">Jobs</a>
            <a class="nav_items" href="/events">Events</a>
            <%- include('events/_eventsModal') %>
            <a class="nav_items" href="/contact">Contact</a>
            <a class="nav_items chat-icon" href="/chat">Chat</a>
            <% if (!loggedIn) { %>
                <a class="nav_items" href="/users/login">Login</a>
                <a class="nav_items" href="/users/signup">Signup</a>
            <% } else { %>
                <a class="nav_items" href="<%=`/users/${currentUser._id}`%>">Profile</a>
                <div
                    id="apiToken"
                    data-token="<%= currentUser.apiToken %>"
                    style="display: none"
                ></div>
                <a class="nav_items" href="/users/logout">Logout</a>
            <% } %>
        </nav>
        <header>
            <image src="/images/BrandeisLogo.png" id="brandeis_logo" alt="Brandeis Logo"/>
            <div id="header_text">
                <p>Students & Alumni Association</p>
            </div>
        </header>
        <% if (loggedIn) { %>
            <p id="welcome_text">Welcome, <a href="<%=`/users/${currentUser._id}`%>"><%= currentUser.name %></a></p>
         <%}%>
        <div class="flashes">
            <% if (flashMessages) { %> <% if (flashMessages.success) { %>
            <div class="flash success"><%= flashMessages.success %></div>
            <% } else if (flashMessages.error) { %>
            <div class="flash error"><%= flashMessages.error %></div>
            <% } %> <% } %>
        </div>
        <%- body %>
        <footer>
            <p>© 2024 Brandeis University | All Rights Reserved</p>
            <a href="https://www.facebook.com/BrandeisUAlumni" class="fa fa-facebook social_button"></a>
            <a href="https://www.instagram.com/brandeisualumni/" class="fa fa-instagram social_button"></a>
            <a href="https://www.linkedin.com/school/brandeis-university/mycompany/verification/" class="fa fa-linkedin social_button"></a>
            <a href="https://www.youtube.com/c/BrandeisUniversityAlumniAssociation" class="fa fa-youtube social_button"></a>
            <a href="https://twitter.com/brandeisualumni" class="fa fa-twitter social_button"></a>
        </footer>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/brandeisSAA.js"></script>
        <!-- Click Hamburger menu Logic -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const menuIcon = document.querySelector('.menu-icon');
                const navLinks = document.querySelectorAll('.nav_items');

                menuIcon.addEventListener('click', function () {
                    navLinks.forEach(link => link.style.display === 'block' ? link.style.display = 'none' : link.style.display = 'block');
                });
                window.addEventListener('resize', function () {
                    const screenWidth = window.innerWidth;

                    if (screenWidth < 1199) {
                        navLinks.forEach(link => link.style.display = 'block');
                    }
                });
            });
        </script>
    </body>
</html>