<h2>Courses Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Items</th>
      <th>Zip Code</th>
    </tr>
  </thead>
  <tbody>
    <% courses.forEach(course => { %>
    <tr>
      <td>
        <a href="<%= `/courses/${course._id}` %>"> <%= course.title %> </a>
      </td>
      <td><%= course.description %></td>
      <td><%= course.items %></td>
      <td><%= course.zipCode %></td>
      <td>
        <a href="<%=`/courses/${course._id}/edit` %>"> Edit </a>
      </td>
      <td>
        <a
          href="<%= `courses/${course._id}/delete?_method=DELETE` %>"
          onclick="return confirm('Are you sure you want to delete this record?')"
          >Delete</a
        >
      </td>
      <td>
        <a href="<%= `subscribers/${course._id}/new` %>">Subscribe</a>
      </td>
      <td>
        <a href="<%= `users/${course._id}/enroll` %>">Enroll</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div>
  <a href="/courses/new">Create a new course</a>
</div>
