<div class="data-form">
    <form method="POST" action="<%=`/events/${event._id}/update?_method=PUT`%>">
        <h2>Edit Event:</h2>
        <label for="inputTitle">Event Title</label>
        <input
            type="text"
            name="title"
            id="inputTitle"
            value="<%= event.title %>"
            placeholder="Event Title"
            autofocus
        />
        <label for="inputDescription">Event Description</label>
        <textarea
            name="description"
            id="inputDescription"
            placeholder="Event Description"
            required
            value="<%= event.description %>">
        </textarea>
        <label for="inputLocation">Event Location</label>
        <input
            type="text"
            name="location"
            id="inputLocation"
            value="<%= event.location %>"
            placeholder="Event Location"
            required
        />
        <label for="inputStartDate">Start Date</label>
        <input
            type="datetime-local"
            name="startDate"
            id="inputStartDate"
            value="<%= event.startDate.toISOString().slice(0, 16) %>"
            required
        />
        <label for="inputEndDate">End Date</label>
        <input
            type="datetime-local"
            name="endDate"
            id="inputEndDate"
            value="<%= event.endDate.toISOString().slice(0, 16) %>"
            required
        />
        <label for="inputIsOnline">Is Online?</label>
        <input
            type="checkbox"
            name="isOnline"
            id="inputIsOnline"
            value="<%= event.isOnline ? 'checked' : '' %>"
        />
        <label for="inputRegistrationLink">Registration Link</label>
        <input
            type="text"
            name="registrationLink"
            id="inputRegistrationLink"
            value="<%= event.registrationLink %>"
            placeholder="Registration Link"
        />
      <button type="submit">Update</button>
    </form>
    <div>
        <a href="<%= '/events'%>">Back to Events</a>
    </div>
  </div>
  