<html>
  <body>
    <section class="main_content">
      <article class="main_text">
        <h2 id="job_op">Event Listings</h2>
        <ul>
          <% events.forEach(event => { %>
            <li>
              <h3><%= event.title %></h3>
              <p>Description: <%= event.description %></p>
              <p>Location: <%= event.location %></p>
              <p>Date: <%= event.startDate.toDateString() %> - <%= event.endDate.toDateString() %></p>
              <form action="/attend" method="post">
                <input type="hidden" name="event_registrationLink" value="<%= event.registrationLink %>">
                <button type="submit">Register Now</button>
              </form>
              <a href="<%=`/events/${event._id}`%>">View Details</a>
            </li>
          <% }); %>
        </ul>
      </article>
    </section>
  </body>
</html>
