<html>
  <body>
    <section class="main_content">
      <article class="main_text">
        <h2 id="job_op">Job Listings</h2>
        <a class="add" href="<%=`/jobs/create`%>">Add Job</a>
        <ul>
          <% jobs.forEach(job => { %>
            <li>
              <h3><%= job.title %></h3>
              <p>Description: <%= job.description %></p>
              <p>Company: <%= job.company %></p>
              <p>Location: <%= job.location %></p>
              <p>Salary: <%= job.salary %></p>
              <p>Contact Email: <%= job.contactEmail %></p>
              <p>Contact Phone: <%= job.contactPhone %></p>
              <p>Date: <%= job.postDate.toDateString() %> - <%= job.deadlineDate.toDateString() %></p>
              <form action="<%=`/jobs/apply?_method=PUT`%>" method="POST">
                <input type="hidden" name="object_id" value="<%= job._id %>">
                <button type="submit">Apply Now</button>
              </form>
              <a href="<%=`/jobs/${job._id}`%>">View Details</a>
            </li>
          <% }); %>
        </ul>
      </article>
    </section>
  </body>
</html>
