<div class="show">
  <h1>Job Data for <%= job.title %></h1>
  <table class="table">
    <tr>
      <th>Title</th>
      <td><%= job.title %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= job.description %></td>
    </tr>
    <tr>
      <th>Company</th>
      <td><%= job.company %></td>
    </tr>
    <tr>
      <th>Location</th>
      <td><%= job.location %></td>
    </tr>
    <tr>
      <th>Salary</th>
      <td><%= job.salary %></td>
    </tr>
    <tr>
      <th>Contact Email</th>
      <td><%= job.contactEmail %></td>
    </tr>
    <tr>
      <th>Contact Phone</th>
      <td><%= job.contactPhone %></td>
    </tr>
    <tr>
      <th>Post Date</th>
      <td><%= job.postDate %></td>
    </tr>
    <tr>
      <th>Deadline Date</th>
      <td><%= job.deadlineDate %></td>
    </tr>
    <tr>
      <th>Is Active</th>
      <td><%= job.isActive %></td>
    </tr>
    <tr>
      <th>Applicants</th>
      <td><%= job.applicants %></td>
    </tr>
  </table>
  <div>
    <a href="/jobs">Back to All Jobs</a>
  </div>
  <% if (currentUser) { %>
      <% if (currentUser.isAdmin || String(currentUser._id) == String(job.organizer)) { %>
      <div>
        <a href="<%=`/jobs/${job._id}/edit`%>">Edit Job Details</a>
      </div>
    <%} if (currentUser.isAdmin) { %>
        <div>
          <a
            href="<%= `/jobs/${job._id}/delete?_method=DELETE` %>"
            onclick="return confirm('Are you sure you want to delete this record?')"
            >Delete</a
          >
        </div>
    <% } } %>
</div>
